// Variable
$theme-color: #cc0e74;

:root {
 --theme-color: #cc0e74;
}

.link-inherit a:hover,
a:hover {
  color: darken($theme-color, 5%);
}

.play-btn>i {
  background-color: rgba($color: $theme-color, $alpha: 0.80);
}