// Variable
$theme-color: #f6830f;

:root {
  --theme-color: #f6830f;
}

.link-inherit a:hover,
a:hover {
  color: darken($theme-color, 5%);
}

.play-btn>i {
  background-color: rgba($color: $theme-color, $alpha: 0.80);
}