{% load wagtailcore_tags wagtailimages_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


{% block content %}
        <div class="container">
            <h1>Breaking News</h1>
            {% for post in latest_posts %}
                <div class="row">
                    <div class="col-sm-4">
                        img here
                    </div>
                    <div class="col-sm-8">
                        <a href="{{ post.url }}" aria-label="links"><span class="sr-only">{{ post.title }}</span> </a>
                        {{ post.heading }}
                    </div>
                </div>
                 <br>
            {% endfor %}
        </div>


{% endblock %}
</body>
</html>