.row {
  .col-0 {
    -ms-flex: 0 0 0%;
    flex: 0 0 0%;
    max-width: 0%;
    padding-left: 0;
    padding-right: 0;
  }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters .slick-track>[class^="col-"],
.row.no-gutters .slick-track>[class*=" col-"],
.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.row.gutters-1 {
  padding-left: 14.5px;
  padding-right: 14.5px;

  .slick-track>[class*="col-"],
  .slick-track>[class^="col-"],
  >[class*="col"],
  >[class^="col"],
  >[class*="col-"],
  >[class^="col-"] {
    padding-left: 0.5px;
    padding-right: 0.5px;
  }
}


.row.gutters-5 {
  padding-left: 12.5px;
  padding-right: 12.5px;

  .slick-track>[class*="col-"],
  .slick-track>[class^="col-"],
  >[class*="col-"],
  >[class^="col-"] {
    padding-left: 2.5px;
    padding-right: 2.5px;
  }
}


.row.gutters-10 {
  padding-left: 10px;
  padding-right: 10px;

  .slick-track>[class*="col-"],
  .slick-track>[class^="col-"],
  >[class*="col-"],
  >[class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }
}


.row.gutters-15 {
  padding-left: 7.5px;
  padding-right: 7.5px;

  .slick-track>[class*="col-"],
  .slick-track>[class^="col-"],
  >[class*="col-"],
  >[class^="col-"] {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

.row.gutters-20 {
  padding-left: 5px;
  padding-right: 5px;

  .slick-track>[class*="col-"],
  .slick-track>[class^="col-"],
  >[class*="col-"],
  >[class^="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}



.row.gutters-40 {
  margin-left: -20px;
  margin-right: -20px;

  .slick-track>[class*="col-"],
  .slick-track>[class^="col-"],
  >[class*="col-"],
  >[class^="col-"] {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: $xs) {
    margin-left: 0;
    margin-right: 0;

    .slick-track>[class*="col-"],
    .slick-track>[class^="col-"],
    >[class*="col-"],
    >[class^="col-"] {
      padding-left: 0;
      padding-right: 0;
    }
  }
}