<div style="padding: 20px; background: #fafafa;font-size:15px;">
    Здравствуйте<br>
    Благодарим вас за подписку на новости.<br>
    Мы будем отправлять вам последние новости из тех разделов на которые вы подписались  <a href=""></a>. Рассылка будет происходить каждый день в 17:00 по МСК.<br>
    <br>
    <p>
        Примечание:<br>
        Это всего лишь уведомление. Пожалуйста не отвечайте на него .<br>
        Вы можете связаться с нами <a href="https://ugrainfo.ru/"> здесь</a>.
    </p>
</div>