{% load wagtailimages_tags static wagtailcore_tags my_tag  %}
{% get_menu 'footer' as footer %}


<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ЮГРАИНФО</title>
    <meta name="author" content="Vecuro">
    <meta name="description" content="ИА Мангазея-Новая Югра специализируется на публикации собственных, а также наиболее примечательных материалов СМИ. Зарегистрируйтесь на Портале Информационного агентства МАНГАЗЕЯ и Ваши новости, статьи, обзоры и интервью появятся в федеральной ленте новостей" />
    <meta name="keywords" content="новости,события,происшествия,Югра,Ханты-Мансийск,ХМАО,Тюмень,Ямало-Ненецкий,Тюменская,ЯНАО,УРФО,Уральский,УФО,Челябинск,Курган,Екатеринбург,Россия,сенсации,криминал" />
    <meta name="robots" content="INDEX,FOLLOW">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--==============================
	   Google Web Fonts
	============================== -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="{%static 'assets/img/favicons/manifest.json'%}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href={% static "css/bootstrap.min.css"%}>
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href={% static "css/fontawesome.min.css"%}>
    <!-- Date Picker -->
    <link rel="stylesheet" href={% static "css/jquery.datetimepicker.min.css"%}>
    <!-- Magnific Popup -->
    <link rel="stylesheet" href={% static "css/magnific-popup.min.css"%}>
    <!-- Slick Slider -->
    <link rel="stylesheet" href={% static "css/slick.min.css"%}>
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href={% static "css/style.css"%}>
    <!-- Theme Color CSS -->
    <link rel="stylesheet" href={% static "css/theme-color1.css"%}>

</head>

<body>


    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->



    <!--********************************
   		Code Start From Here 
	******************************** -->


    <!--==============================
     Preloader
  ==============================-->
    <div class="preloader  ">
        <div class="preloader-inner">
            <div class="loader-logo">
                <img src="" alt="">
            </div>
            <div class="loader-wrap pt-2">
                <span class="loader"></span>
            </div>
        </div>
    </div>
    <!--==============================
    Popup Search Box
    ============================== -->
    <div class="popup-search-box d-none d-lg-block  ">
        <button class="searchClose border-theme text-theme"><i class="fal fa-times"></i></button>
        <form action="#">
            <input type="text" class="border-theme" placeholder="Найти..">
            <button type="submit"><i class="fal fa-search"></i></button>
        </form>
    </div>
    <!--==============================
    Mobile Menu
  ============================== -->
    <div class="vs-menu-wrapper">
        <div class="vs-menu-area">
            <button class="vs-menu-toggle text-theme"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="/"><img src="./assets/ugralogo.png" alt="ЮГРАИНФО"></a>
            </div>
            <div class="vs-mobile-menu link-inherit"></div><!-- Menu Will Append With Javascript -->
        </div>
    </div>
    <!--==============================
        Header Area
    ==============================-->
       <header class="header-wrapper header-layout2">

        <div class="bg-dark style-dark d-none d-lg-block">
            <div class="container-xl">
                <div class="d-flex align-items-center">
                    <span class="breaking-news bg-theme"><i class="fas fa-bolt mr-2"></i>Срочные Новости</span>
                    <div class="breaking-news-body">
                        <div class="vs-carousel arrow-y-right" data-method="GET" data-arrows="true" data-xlarrows="true" data-mlarrows="true" data-lgarrows="true" data-vertical="true" data-slidetoshow="1">
                       {% for post in latest_posts %}
                           {% if forloop.counter0 < 9 %}
                            <div class="link-inherit">
                                <p class="d-inline-block mb-0" ><a href="{{ post.url }}" class="text-white">{{ post.title| upfirstletter}} </a></p>
                            </div>
                           {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-2 py-lg-3">
            <div class="container">
                <div class="row align-items-center gutters-20">
                    <div class="col-6 col-lg-2 pb-xl-2">
                        <div class="header-logo">
                            <a id="logo" href="/"><img src="../static/assets/ugralogo.png" alt="ЮграИнфо" ></a>
                        </div>
                    </div>
                    <div class="col-6 col-lg-5 col-xl-6 text-right">
                        <!-- Mobile Menu Toggler -->
                        <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                    </div>
                    <div class="col-lg-2 col-xl-3">
                        <div class="header-btn text-right d-none d-lg-block">
                            <a href="#" class="icon-btn searchBoxTggler"><i class="far fa-search"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="bg-secondary d-none d-lg-block sticky">
            <div class="container position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-8 position-static">
                        <nav class="main-menu menu-style2 mobile-menu-active" data-expand="992">
                            <ul>
                                <li>
                                    <a href="/">Главная</a>
                                </li>
                                <li>
                                    <a href="/news/">Последние новости</a>
                                </li>
                                <li>
                                    <a href="/hmao/">ХМАО</a>
                                </li>
                                <li>
                                    <a href="/yanao/">ЯНАО</a>
                                </li>
                                <li>
                                    <a href="/tyumen/">Тюменская область</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-4 text-right">
                        <div class="header-meta-style1 border-dark-light">
                            <ul>
                                <li><i class="fal fa-calendar-alt"></i><span id="datecalendar"></span></li>
                                <li><i class="far fa-clock"></i><span id="datetime"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--==============================
      Hero Area
    ==============================-->
    <section class="vs-hero-wrapper vs-hero-layout2  pt-1 ">
        <div class="container-fluid px-1 overflow-hidden">
            <div class="row gutters-5">
                <div class="col-lg-4 col-xl-3 d-none d-lg-block">
                    <div class="vs-carousel" data-slidetoshow="1" id="slideno1" data-asnavfor="#slideno2, #slideno3">
                        {% for post in all_news %}
                         {% for block in post.body %}
                                 {% if block.block_type == 'main_image' %}
                                    <div class="vs-blog mb-1 ">
                                        <a href="{{ post.url }}" class="overlay gradient-black-md"></a>
                                        <div class="vs-blog-image">
                                            {% image block.value fill-470x554 as slide1 %}
                                            <a href="{{ post.url }}"><img src="{{ slide1.url }}" alt="BlogImage" class="w-100"></a>
                                            <div class="vs-blog-content overlay-bottom style-dark">
                                                 <h2 class="blog-title h4 mb-1"><a href="{{ post.url }}">{{ post.title|upfirstletter}}</a></h2>
                                                <div class="blog-meta text-xs">
                                                    <a href="{{ post.url }}"><i class="fal fa-calendar-alt"></i>{{ post.pub_date }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                             {% if block.block_type == 'img_url' %}
                                    <div class="vs-blog mb-1 ">
                                        <a href="{{ post.url }}" class="overlay gradient-black-md"></a>
                                        <div class="vs-blog-image">
                                            {% image block.value.image fill-470x554 as url_slide1 %}
                                            <a href="{{ post.url }}"><img src="{{ url_slide1.url }}" alt="BlogImage"></a>
                                            <div class="vs-blog-content overlay-bottom style-dark">
                                                 <h2 class="blog-title h4 mb-1"><a href="{{ post.url }}">{{ post.title|upfirstletter}}</a></h2>
                                                <div class="blog-meta text-xs">
                                                    <a href="{{ post.url }}"><i class="fal fa-calendar-alt"></i>{{ post.pub_date }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                         {% endfor %}
                    </div>
                </div>
                <div class="col-lg-8 col-xl-6">
                    <div class="vs-carousel arrow-rounded arrow-lg arrow-y-align arrow-has-margin" id="slideno2" data-asnavfor="#slideno1, #slideno3" data-slidetoshow="1" data-arrows="false" data-xlarrows="true" data-mlarrows="true" data-lgarrows="true" data-mdarrows="true" data-smarrows="true" data-xsarrows="true">
                    {% for post in all_news2 %}
                         {% for block in post.body %}
                            {% if block.block_type == 'main_image' %}
                                    <div class="vs-blog mb-1">
                                        <a href="{{ post.url }}" class="overlay-sm gradient-black-md"></a>
                                        <div class="vs-blog-image">
                                            {% image block.value fill-945x554 as slide2 %}
                                            <a href="{{ post.url }}"><img src="{{slide2.url}}" alt="Blog Image" class="w-100"></a>
                                        </div>
                                        <div class="vs-blog-content overlay-bottom-sm style-dark-sm">
                                            <h2 class="blog-title h3 mb-2 w-xl-80"><a href="{{ post.url }}">{{ post.title|upfirstletter}}</a></h2>
                                            <div class="blog-meta text-xs">
                                                <a href="{{ post.url }}"><i class="fal fa-calendar-alt"></i>{{ post.pub_date}}</a>
                                            </div>
                                        </div>
                                    </div>
                            {% endif %}
                             {% if block.block_type == 'img_url' %}
                                    <div class="vs-blog mb-1">
                                        <a href="{{ post.url }}" class="overlay-sm gradient-black-md"></a>
                                        <div class="vs-blog-image">
                                            {% image block.value.image fill-945x554 as url_slide2 %}
                                            <a href="{{ post.url }}"><img src="{{url_slide2.url}}"alt="Blog Image" ></a>
                                        </div>
                                        <div class="vs-blog-content overlay-bottom-sm style-dark-sm">
                                            <h2 class="blog-title h3 mb-2 w-xl-80"><a href="{{ post.url }}">{{ post.title|upfirstletter}}</a></h2>
                                            <div class="blog-meta text-xs">
                                                <a href="{{ post.url }}"><i class="fal fa-calendar-alt"></i>{{ post.pub_date}}</a>
                                            </div>
                                        </div>
                                    </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </div>
                </div>
                <div class="col-xl-3 d-none d-xl-block">
                    <div class="vs-carousel" data-slidetoshow="1" id="slideno3" data-asnavfor="#slideno2, #slideno1">
                      {% for post in all_news3 %}
                        {% for block in post.body %}
                            {% if block.block_type == 'main_image' %}
                                    <div class="vs-blog mb-1">
                                        <a href="{{ post.url }}" class="overlay gradient-black-md"></a>
                                        <div class="vs-blog-image">
                                            {% image block.value fill-470x554 as slide3 %}
                                            <a href="{{ post.url }}"><img src="{{ slide3.url }}" alt="BlogImage" class="w-100"></a>
                                        </div>
                                        <div class="vs-blog-content overlay-bottom style-dark">
                                            <h2 class="blog-title h4 mb-1"><a href="{{ post.url }}">{{ post.title|upfirstletter}}</a></h2>
                                            <div class="blog-meta text-xs">
                                                <a href="{{ post.url }}"><i class="fal fa-calendar-alt"></i>{{ post.pub_date}}</a>
                                            </div>
                                        </div>
                                    </div>
                            {% endif %}
                            {% if block.block_type == 'img_url' %}
                                    <div class="vs-blog mb-1">
                                        <a href="{{ post.url }}" class="overlay gradient-black-md"></a>
                                        <div class="vs-blog-image">
                                            {% image block.value.image fill-470x554 as url_slide3 %}
                                            <a href="{{ post.url }}"><img src="{{ url_slide3.url }}" alt="BlogImage" height="554" width="470"></a>
                                        </div>
                                        <div class="vs-blog-content overlay-bottom style-dark">
                                            <h2 class="blog-title h4 mb-1"><a href="{{ post.url }}">{{ post.title|upfirstletter}}</a></h2>
                                            <div class="blog-meta text-xs">
                                                <a href="{{ post.url }}"><i class="fal fa-calendar-alt"></i>{{ post.pub_date}}</a>
                                            </div>
                                        </div>
                                    </div>
                            {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </div>
                </div>

            </div>
        </div>

    </section>
    {% adverts %}
    <!--==============================
      Featured News
    ==============================-->
    <section class="featured-news-wrapper featured-news-layout2 space-top space-md-bottom">
        <div class="container">
            <h2 class="sec-title-style1">Важные новости</h2>
            <div class="row">
                {% for random_post in all_news3 %}
                    {% if forloop.counter0 < 1 %}
                        <div class="col-lg-6">
                            <div class="vs-blog image-scale-hover">
                                <a href="{{ random_post.url }}" class="overlay-sm gradient-black-lg"></a>
                                <div class="vs-blog-image">
                                    {% for random_image in random_post.body %}
                                        {% if random_image.block_type == 'main_image' %}
                                        {% image random_image.value fill-570x380 as img %}
                                        <img src="{{img.url}}" alt="{{ img.alt}}" class="w-100">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="vs-blog-conent overlay-bottom-sm style-dark-sm">
                                    <h3 class="blog-title text-20 mb-2"><a href="{{ random_post.url }}">{{ random_post.title|upfirstletter}}</a></h3>
                                    <div class="blog-meta text-xs">
                                        <a href="{{ random_post.url }}"><i class="fal fa-calendar-alt"></i>{{ random_post.pub_date}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                    {% for random_post in all_news2 %}
                    {% if forloop.counter0 < 1 %}
                        <div class="col-sm-6 col-lg-3">
                            <div class="vs-blog image-scale-hover">
                                <a href="{{ random_post.url }}" class="overlay-sm gradient-black-lg"></a>
                                <div class="vs-blog-image">
                                    {% for random_image in random_post.body %}
                                        {% if random_image.block_type == 'main_image' %}
                                        {% image random_image.value fill-270x284 as img %}
                                        <img src="{{img.url}}" alt="{{ img.alt}}" class="w-100">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="vs-blog-conent overlay-bottom-sm style-dark-sm">
                                    <h3 class="blog-title text-20 mb-2"><a href="{{ random_post.url }}">{{ random_post.title|upfirstletter}}</a></h3>
                                    <div class="blog-meta text-xs">
                                        <a href="{{ random_post.url }}"><i class="fal fa-calendar-alt"></i>{{ random_post.pub_date}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                  {% for random_post in all_news %}

                        {% if forloop.counter0 < 1 %}
                            <div class="col-sm-6 col-lg-3">
                                <div class="vs-blog image-scale-hover">
                                    <a href="{{ random_post.url }}" class="overlay-sm gradient-black-lg"></a>
                                    <div class="vs-blog-image">
                                        {% for random_image in random_post.body %}
                                            {% if random_image.block_type == 'main_image' %}
                                            {% image random_image.value fill-270x284 as img %}
                                            <img src="{{img.url}}" alt="{{ img.alt}}" class="w-100">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="vs-blog-conent overlay-bottom-sm style-dark-sm">
                                        <h3 class="blog-title text-20 mb-2"><a href="{{ random_post.url }}">{{ random_post.title|upfirstletter}}</a></h3>
                                        <div class="blog-meta text-xs">
                                            <a href="{{ random_post.url }}"><i class="fal fa-calendar-alt"></i>{{ random_post.pub_date}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    <!--==============================
    Latest News
    ==============================-->
    <section class="latest-news-wrapper space-top space-md-bottom">

        <div class="container">
            <div class="row flex-row">
                 <div class="col-lg-4">
                        <div class="widget bg-secondary">
                            <ul class="nav tab-style1 mb-25 text-uppercase">
                                <li>
                                    <a class="nav-link active" id="recent-tab" data-toggle="tab" href="#recent" aria-controls="recent">Недавние</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                                    <div class="recent-post-style3 column-2-md">
                                        {% for post in last_news %}
                                            {% if forloop.revcounter0 < 4 %}
                                            <div class="recent-post media">
                                                <div class="media-img">
                                                    {% for block5 in post.body  %}
                                                        {% if block5.block_type == 'main_image' %}
                                                            {% image block5.value fill-90x95 as img %}
                                                        <img src="{{img.url}}" alt="{{ img.alt}}">
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="recent-post-title h6 mb-0 "><a href="{{ post.url }}">{{ post.title|upfirstletter}}</a></h4>
                                                    <a class="text-xs" href="{{ post.url }}"><i class="fal fa-calendar-alt "></i>{{ post.pub_date}}</a>
                                                </div>
                                            </div>
                                         {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                 </div>
                <div class="col-lg-8">
                    <div class="vs-box-style1 has-corner-border bg-secondary py-15 mb-10">
                        <div class="row">
                            <div class="col-xl-3 text-center text-xl-left">
                                <h2 class="sec-title-style1 mt-0 mb-2 mb-xl-0">Последние новости</h2>
                            </div>
                            <div class="col-xl-9">
                                <ul class="nav tab-style1 justify-content-center justify-content-xl-end">
                                    <li>
                                        <a class="nav-link active" id="ugra-tab" data-toggle="tab" href="#ugra">ХМАО</a>
                                    </li>
                                    <li>
                                        <a id="yamal-tab" data-toggle="tab" href="#yamal">ЯНАО</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" id="tyumen-tab" data-toggle="tab" href="#tyumen">Тюменская область</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="ugra" aria-labelledby="ugra-tab">
                            <div class="row gutters-10 space-md-bottom justify-content-center ">
                                {% for ugra_post in ugra_posts %}
                                    {% if forloop.counter < 5 %}
                                        <div class="col-md-auto">
                                            <div class="vs-blog mb-25">
                                                <div class="vs-blog-image mb-15 image-scale-hover">
                                                    {% for block in ugra_post.body %}
                                                        {% if block.block_type == 'main_image' %}
                                                            {% image block.value fill-183x150 as img %}
                                                             <a href="{{ ugra_post.url }}"><img src="{{img.url}}" alt="Featured Image" class="w-100"></a>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <div class="vs-blog-content">
                                                    <h3 class="blog-title text-medium h5 mb-1"><a href="{{ ugra_post.url }}">{{ ugra_post.title|upfirstletter}}</a></h3>
                                                    <div class="blog-meta text-xs">
                                                        <a href="{{ ugra_post.url }}"><i class="fal fa-calendar-alt"></i>{{ ugra_post.pub_date }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane " id="yamal" aria-labelledby="yamal-tab">
                            <div class="row gutters-10 space-md-bottom justify-content-center">
                                {% for yamal_post in yamal_posts %}
                                    {% if forloop.counter < 5 %}
                                        <div class="col-sm-6 col-md-4 col-xl-3">
                                            <div class="vs-blog mb-25">
                                                    <div class="vs-blog-image mb-15 image-scale-hover">
                                                    {% for block in yamal_post.body %}
                                                        {% if block.block_type == 'main_image' %}
                                                            {% image block.value fill-183x150 as img %}
                                                             <a href="{{ yamal_post.url }}"><img src="{{img.url}}" alt="Featured Image" class="w-100"></a>
                                                        {% endif %}
                                                    {% endfor %}
                                                     </div>
                                                    <div class="vs-blog-content">
                                                        <h3 class="blog-title text-medium h5 mb-1"><a href="{{ yamal_post.url }}">{{ yamal_post.title|upfirstletter}}</a></h3>
                                                        <div class="blog-meta text-xs">
                                                            <a href="{{ yamal_post.url }}"><i class="fal fa-calendar-alt"></i>{{ yamal_post.pub_date }}</a>
                                                        </div>
                                                    </div>

                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane " id="tyumen" aria-labelledby="tyumen-tab">
                            <div class="row gutters-10 space-md-bottom justify-content-center">
                                 {% for tyumen_post in tyumen_posts %}
                                    {% if forloop.counter < 5 %}
                                        <div class="col-sm-6 col-md-4 col-xl-3">
                                            <div class="vs-blog mb-25">
                                                         <div class="vs-blog-image mb-15 image-scale-hover">
                                                            {% for block in tyumen_post.body %}
                                                                {% if block.block_type == 'main_image' %}
                                                                    {% image block.value fill-183x150 as img %}
                                                                     <a href="{{ tyumen_post.url }}"><img src="{{img.url}}" alt="Featured Image" class="w-100"></a>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <div class="vs-blog-content">
                                                            <h3 class="blog-title text-medium h5 mb-1"><a href="{{ tyumen_post.url }}">{{ tyumen_post.title|upfirstletter}}</a></h3>
                                                            <div class="blog-meta text-xs">
                                                                <a href="{{ tyumen_post.url }}"><i class="fal fa-calendar-alt"></i>{{ tyumen_post.pub_date}}</a>
                                                            </div>
                                                        </div>
                                            </div>
                                        </div>
                                     {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
    More News Area
    ==============================-->
    <section class="more-news-area more-news-layout1 space-md-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row align-items-center mb-30">
                        <div class="col-xl-3">
                            <h2 class="sec-title-style1 mt-0 mb-2 mb-xl-0">Больше Новостей</h2>
                        </div>
                        <div class="col-xl-9">
                            <ul class="nav tab-style1 justify-content-xl-end">
                                <li>
                                    <a class="nav-link active" id="ugra2-tab" data-toggle="tab" href="#ugra2">ХМАО</a>
                                </li>
                                <li>
                                    <a id="yamal2-tab" data-toggle="tab" href="#yamal2">ЯНАО</a>
                                </li>
                                <li>
                                    <a class="nav-link" id="tyumen2-tab" data-toggle="tab" href="#tyumen2">Тюменская область</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="tab-content">
                        <div class="tab-pane show active" id="ugra2" aria-labelledby="ugra2-tab">
                        {% for full_xmao_post in ugra_posts %}
                            {% if forloop.counter0 < 3 %}
                                    <div class="vs-blog vs-blog-wide bg-secondary mb-20">
                                                {% for block1 in full_xmao_post.body %}
                                                    {% if block1.block_type == 'main_image' %}
                                                    <div class="vs-blog-image image-scale-hover">
                                                        {% image block1.value  fill-350x291 as bl_img %}
                                                        <a href="{{ full_xmao_post.url }}"><img src="{{bl_img.url}}" alt="More News image" class="w-100"></a>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                                <div class="vs-blog-content">
                                                    <h3 class="blog-title text-medium h4 mb-2"><a href="{{ full_xmao_post.url }}">{{ full_xmao_post.title|upfirstletter }}</a></h3>
                                                    <div class="blog-meta mb-10">
                                                        <a href="{{ full_xmao_post.url }}"><i class="fal fa-calendar-alt"></i>{{ full_xmao_post.pub_date }}</a>
                                                    </div>
                                                    {% for block in full_xmao_post.body %}
                                                        {% if block.block_type == 'main_text' %}

                                                             <p>{{ block.value| richtext}}</p>

                                                        {% endif %}
                                                    {% endfor %}
                                                    <a href="{{ full_xmao_post.url }}" class="link-btn">Читать далее<i class="far fa-angle-right"></i></a>
                                                </div>
                                    </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <div class="tab-pane " id="yamal2" aria-labelledby="yamal2-tab">
                             {% for yamal_post in yamal_posts %}
                                <div class="vs-blog vs-blog-wide bg-secondary mb-20">
                                       {% for block1 in yamal_post.body %}
                                                    {% if block1.block_type == 'main_image' %}
                                                    <div class="vs-blog-image image-scale-hover">
                                                        {% image block1.value  fill-350x291 as bl_img %}
                                                        <a href="{{ yamal_post.url }}"><img src="{{bl_img.url}}" alt="More News image" class="w-100"></a>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                    <div class="vs-blog-content">
                                        <h3 class="blog-title text-medium h4 mb-2"><a href="{{ yamal_post.url }}">{{ yamal_post.title |upfirstletter}}</a></h3>
                                        <div class="blog-meta mb-10">
                                            <a href="{{ yamal_post.url }}"><i class="fal fa-calendar-alt"></i>Dec 20, 2020</a>
                                        </div>
                                          {% for block in yamal_post.body %}

                                                    {% if block.block_type == 'main_text' %}

                                                     <p>{{ block.value| richtext}}</p>
                                                    {% endif %}

                                            {% endfor %}
                                        <a href="{{ yamal_post.url }}" class="link-btn">Читать далее<i class="far fa-angle-right"></i></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane " id="tyumen2" aria-labelledby="tyumen2-tab">
                             {% for tyumen_post in tyumen_posts %}
                                <div class="vs-blog vs-blog-wide bg-secondary mb-20">
                                      {% for block1 in tyumen_post.body %}
                                                    {% if block1.block_type == 'main_image' %}
                                                    <div class="vs-blog-image image-scale-hover">
                                                        {% image block1.value  fill-350x291 as bl_img %}
                                                        <a href="{{ tyumen_post.url }}"><img src="{{bl_img.url}}" alt="More News image" class="w-100"></a>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                    <div class="vs-blog-content">
                                        <h3 class="blog-title text-medium h4 mb-2"><a href="post.html">{{ tyumen_post.title|upfirstletter }}</a></h3>
                                        <div class="blog-meta mb-10">
                                            <a href="{{ tyumen_post.url }}"><i class="fal fa-calendar-alt"></i>{{ tyumen_post.pub_date }}</a>
                                        </div>
                                           {% for block in tyumen_post.body %}
                                                    {% if block.block_type == 'main_text' %}
                                                     <p>{{ block.value| richtext}}</p>
                                                {% endif %}
                                            {% endfor %}
                                        <a href="{{ tyumen_post.url }}" class="link-btn">Читать далее<i class="far fa-angle-right"></i></a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget p-0  ">
                        <div class="widget-category-style1 has-border-middle">
                            <div class="vs-cat-box background-image" data-bg-src="/static/assets/img/ugra.jpg" data-overlay="title" data-opacity="5">
                                <a href="ugra.html" class="cat-link">ХМАО</a>
                            </div>
                            <div class="vs-cat-box background-image" data-bg-src="/static/assets/img/solehArd.jpg" data-overlay="title" data-opacity="5">

                                <a href="yamal.html" class="cat-link">ЯНАО</a>
                            </div>
                            <div class="vs-cat-box background-image" data-bg-src="/static/assets/img/tyumen.jpg" data-overlay="title" data-opacity="5">
                                <a href="tyumen.html" class="cat-link">Тюменская область</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- vs-blog vs-blog-wide bg-secondary mb-20 -->
    <!--==============================
			Footer Area
	==============================-->
    <footer class="footer-wrapper footer-layout1 style-dark bg-dark" data-overlay="title" data-opacity="8">
        <div class="footer-widget footer-widget-layout1 pt-100 pb-70  ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-3 col-xl-4">
                        <div class="widget  ">
                            {% now 'Y' as year %}
                            <h3 class="widget_title">© 2009 - {{ year }} ИА Мангазея-Новая Югра.</h3>
                            <div class="vs-widget-about">
                               <p class="widget-about-text mb-10">Свидетельство о регистрации регионального СМИ "Информационное агентство МАНГАЗЕЯ - Новая Югра" ИА №ТУ 86-00139 выдано Управлением Роскомнадзора по ХМАО-Югре и ЯНАО</p>
                                <p class="widget-about-text mb-10">Отдельные публикации могут содержать информацию, не предназначенную для пользователей до 16 лет.</p>
                                <div class="media align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3">

                        <div class="widget  ">
                            <h3 class="widget_title">Недавние Новости</h3>
                            <div class="recent-post-style2">
                                {% for post in all_news %}
                                    {% if forloop.counter0 < 2 %}
                                        <div class="recent-post media">
                                            <div class="media-body">
                                                <h4 class="recent-post-title h6 mb-0 "><a href="{{ post.url }}">{{ post.title|upfirstletter }}</a></h4>
                                                <span class="text-xs"><i class="fal fa-calendar-alt "></i>{{ post.pub_date}}</span>
                                            </div>
                                        </div>
                                    {% endif %}
                               {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2 col-xl-2">
                        <div class="widget widget_nav_menu   ">
                            <h3 class="widget_title">Быстрые ссылки</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="/news/">Последние новости</a></li>
                                    <li><a href="/hmao/">ХМАО</a></li>
                                    <li><a href="/yanao/">ЯНАО</a></li>
                                    <li><a href="/tyumen/">Тюменская область</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3 col-xl-3">
                       {% include 'sub.html' %}

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--********************************
			Code End  Here 
	******************************** -->

    <!-- Scroll Top Top Button -->
    <a href="#" class="scrollToTop icon-btn bg-theme border-before-theme"><i class="far fa-angle-up"></i></a>




    <!--==============================
        All Js File
    ============================== -->
    <!-- Jquery -->
    <script src={% static "js/vendor/jquery-1.12.4.min.js"%}></script>
    <!-- Slick Slider -->
    <script src={% static "js/slick.min.js"%}></script>
    <!-- Bootstrap -->
    <script src={% static "js/bootstrap.min.js"%}></script>
    <!-- Magnific Popup -->
    <script src={% static "js/jquery.magnific-popup.min.js"%}></script>
    <!-- Nice Select -->
    <script src={% static "js/jquery.nice-select.min.js"%}></script>
    <!-- Custom Carousel -->
    <script src={% static "js/vscustom-carousel.min.js"%}></script>
    <!-- Mobile Menu -->
    <script src={% static "js/vsmenu.min.js"%}></script>
    <!-- Form Js -->
    <script src={% static "js/ajax-mail.js"%}></script>
    <!-- Google Map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src={% static "js/map.js"%}></script>
    <!-- Main Js File -->
    <script src={% static "js/main.js" %}></script>
    <!-- Current Time -->
    <script src={% static 'js/current-time.js' %}></script>
</body>

</html>